
.dropdown-menu{
    position: absolute;
    color: blueviolet;
    box-shadow: 0 0 2px black;
    display: none;
}


.dropdown-menu a{
    display: block;
    color: blueviolet;
    background-color: rgb(245, 245, 245);
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown{
    background-color: transparent;
    font-weight: 700;
    &.theme-light {
        background-color: white;
      }
    &.theme-dark {
        background-color: black;
      }
}

.dropdownlink{
    background-color: transparent;
    &.theme-light {
        color: black
      }
    &.theme-dark {
        color: white
      } 
}