.explicacao{
    margin-top: 2rem;
}

.resultado{
  &.theme-light {
    color: black
  }
&.theme-dark {
  background-color:black;
    color: white
  } 
}

.tipo-palavra{
    font-weight: 800;
    font-style: italic; 
    &.theme-light {
      color: black
    }
  &.theme-dark {
      color: white
    } 
}

.significado, .sinonimos, .source-text {
    margin: 1rem 0;
    font-weight: 600;
}

.lista-significados {
    list-style-type: none; 
  }
  
  .lista-significados .item-significado::before {
    content: '•'; 
    display: inline-block; 
    width: 10px; 
    text-align: center; 
    margin-right: 5px; 
    color: #a445ed ;
  }
  
  .lista-significados {
    font-weight: 500;
    &.theme-light {
      color: black
    }
    &.theme-dark {
      color: white
    }
  }
  
  .sinonimos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .lista-sinonimos{
    list-style: none;
    width:70%;
    font-weight: 700;
    color:#a445ed; 
  }

.som{
  cursor: pointer;
  align-self: flex-end;
}

.item-significado {
  font-weight: 500;
  &.theme-light {
  color: black
}
&.theme-dark {
  color: white
}
 }
