nav{
width: 100%;
display: flex;
}

.lista-nav{
    list-style: none;
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-evenly;
}

nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 24px;
}

nav li a:hover{
    background-color: #c19edb;
}

.logo{
    width:30%
}

.icone-dicionario, .mode {
    display: flex;
    align-items: center;
  }

  .icone-dicionario{
    width: 100%;
  }

  .dark-mode{
    margin-left: 2px;
  }
