nav{
    display:flex;
    flex-flow: row nowrap;
    width:100%;
    height: fit-content;
    justify-content: center;

}

.icone-dicionario{

    width:50%
}

.menu-dropdown{
    display:flex;
    justify-content: center;
    align-items: center;
    width:24%;
}

.mode{
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
    align-items: center;
    width:20%
   
}

.fonte-atual{
    font-weight: 700;
    font-family: serif;
    display: flex;
    gap:10px;
}